{% extends "_partial/base.njk" %}


{% block nmHeader %}
  {% include "_partial/layouts/header.njk" %}
{% endblock %}


{% block nmContent %}
<main>
  <!-- ?? section start -->
  <!-- ?? section end -->

  <!-- about section start -->
  <section class="sr-section position-relative sr-section-about">
    <div class="container">
      <div class="row gy-5 align-items-center flex-lg-row-reverse">
        <div class="col-xl-6">
          <div class="position-relative text-center text-xl-start">
            <img src="{{imageRoot}}about-logo.svg" class="position-absolute top-0 start-0 ms-n4 mt-80px d-none d-xl-block"  alt="about-cover">
            <img src="{{imageRoot}}about-bg.png" class="z-n1" alt="about-cover">
            <img src="{{imageRoot}}about-cover.png" class="position-absolute bottom-0 start-0" alt="about-cover">
          </div>
        </div>
        <div class="col-xl-6">
          <span class="sr-section-subtitle start">About Us</span>
          <h2 class="sr-section-title">We Have Lot Of Experience Gym Training</h2>
          <div class="row gap-4 gap-md-0 align-items-center mt-3 mt-lg-40px">
            <div class="col-md-6">
              <div class="position-relative">
                <img src="{{imageRoot}}cover-7.jpg" class="w-100 h-auto" alt="cover">
              </div>
            </div>
            <div class="col-md-6">
              <p class="mb-4 mb-lg-40px">
                Many individuals benefit from personalized workout plans designed by fitness professionals or personal trainers to address specific fitness goals, such as muscle gain, weight loss, or improved athletic performance.
              </p>
              <ul class="list-group mb-30px">
                <li class="list-group-item">Over 15 years of experience</li>
                <li class="list-group-item">Certified Trainers</li>
                <li class="list-group-item">Exceptional work quality</li>
              </ul>
              <a href="#" class="btn btn-primary">Get Started</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- about section end -->

  <!-- w-process section start -->
  <section class="sr-section">
    <div class="position-absolute d-none d-lg-block start-0 ps-60px">
      <img src="{{imageRoot}}mask-1.svg" alt="mask">
    </div>
    <div class="container">
      <div class="row justify-content-center gx-lg-60px gy-5">
        <div class="col-12">
          <div class="text-center">
            <span class="sr-section-subtitle px-1">Work Process</span>
            <h2 class="sr-section-title">Easy Step to Achieve Your Goals.</h2>
          </div>
        </div>
        <div class="col-12">
          <div class="row position-relative gy-5">
            <div class="position-absolute d-none d-lg-block text-center start-50 translate-middle-x">
              <img src="{{imageRoot}}line.svg" alt="line">
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="text-center d-flex flex-column gap-4">
                <div class="position-relative d-flex justify-content-center w-270px h-270px mx-auto rounded-circle bg-gray-300">
                  <div class="position-relative overflow-hidden w-250px h-250px rounded-circle">
                    <img src="{{imageRoot}}circle-1.jpg" alt="circle-cover">
                    <span class="d-inline-block text-uppercase position-absolute start-50 translate-middle-x bottom-0 mb-n40px pt-3 text-bg-primary text-white fs-12px rounded-circle w-88px h-88px">STEP-01</span>
                  </div>
                </div>
                <div>
                  <h2 class="mb-4">Gym Movement</h3>
                  <p class="mb-0">
                    Many gyms offer tools and resources to track progress, such as fitness apps, workout logs, or integrated gym software.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="text-center d-flex flex-column gap-4">
                <div class="position-relative d-flex justify-content-center w-270px h-270px mx-auto rounded-circle bg-primary">
                  <div class="position-relative overflow-hidden w-250px h-250px rounded-circle">
                    <img src="{{imageRoot}}circle-2.jpg" alt="circle-cover">
                    <span class="d-inline-block text-uppercase position-absolute start-50 translate-middle-x bottom-0 mb-n40px pt-3 text-bg-primary text-white fs-12px rounded-circle w-88px h-88px">STEP-02</span>
                  </div>
                </div>
                <div>
                  <h2 class="mb-4">Fitness Practice</h3>
                  <p class="mb-0">
                    Gyms are adaptable to various fitness levels and preferences, catering to beginners and advanced individuals alike.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="text-center d-flex flex-column gap-4">
                <div class="position-relative d-flex justify-content-center w-270px h-270px mx-auto rounded-circle bg-gray-300">
                  <div class="position-relative overflow-hidden w-250px h-250px rounded-circle">
                    <img src="{{imageRoot}}circle-3.jpg" alt="circle-cover">
                    <span class="d-inline-block text-uppercase position-absolute start-50 translate-middle-x bottom-0 mb-n40px pt-3 text-bg-primary text-white fs-12px rounded-circle w-88px h-88px">STEP-03</span>
                  </div>
                </div>
                <div>
                  <h2 class="mb-4">Achievement</h3>
                  <p class="mb-0">
                    Group fitness classes led by instructors offer structured workouts in a motivating group setting the development.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- w-process section end -->



</main>
{% endblock %}

{% block nmFooter %}
  {% include "_partial/layouts/footer.njk" %}
{% endblock %}