{% extends "_partial/base.njk" %}


{% block nmHeader %}
  {% include "_partial/layouts/header.njk" %}
{% endblock %}


{% block nmContent %}
<main>
  <!-- ?? section start -->
  <!-- ?? section end -->

  <!-- about section start -->
  <section class="sr-section sr-section-about">
    <div class="container">
      <div class="row gy-5 align-items-center flex-lg-row-reverse">
        <div class="col-xl-6">
          <div class="position-relative text-center text-xl-start">
            <img src="{{imageRoot}}about-logo.svg" class="position-absolute top-0 start-0 ms-n4 mt-80px d-none d-xl-block"  alt="about-cover">
            <img src="{{imageRoot}}about-bg.png" class="z-n1" alt="about-cover">
            <img src="{{imageRoot}}about-cover.png" class="position-absolute bottom-0 start-0" alt="about-cover">
          </div>
        </div>
        <div class="col-xl-6">
          <span class="sr-section-subtitle start">About Us</span>
          <h2 class="sr-section-title">We Have Lot Of Experience Gym Training</h2>
          <div class="row gap-4 gap-md-0 align-items-center mt-3 mt-lg-40px">
            <div class="col-md-6">
              <div class="position-relative">
                <img src="{{imageRoot}}cover-7.jpg" class="w-100 h-auto" alt="cover">
              </div>
            </div>
            <div class="col-md-6">
              <p class="mb-4 mb-lg-40px">
                Many individuals benefit from personalized workout plans designed by fitness professionals or personal trainers to address specific fitness goals, such as muscle gain, weight loss, or improved athletic performance.
              </p>
              <ul class="list-group mb-30px">
                <li class="list-group-item">Over 15 years of experience</li>
                <li class="list-group-item">Certified Trainers</li>
                <li class="list-group-item">Exceptional work quality</li>
              </ul>
              <a href="#" class="btn btn-primary">Get Started</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- about section end -->
</main>
{% endblock %}

{% block nmFooter %}
  {% include "_partial/layouts/footer.njk" %}
{% endblock %}