<header class="sr-header bg-dark">
  <div class="sr-header-top">
    <div class="container-fluid">
      <div class="row justify-content-between">
        <div class="col-auto col-xl-6">
          <ul class="info">
            <li>
              <a href="tel:+163-6589-9654" class="d-flex align-items-center gap-2 ps-0">
                <img src="{{imageRoot}}icons/phone.svg" alt="phone">
                + 163-6589-9654
              </a>
            </li>
            <li>
              <a href="mailto:info@fitkit.com"  class="d-flex align-items-center gap-2">
                <img src="{{imageRoot}}icons/email.svg" alt="email">
                info@fitkit.com
              </a>
            </li>
            <li>
              <a href="#"  class="d-flex align-items-center gap-2">
                <img src="{{imageRoot}}icons/map-pin.svg" alt="map">
                67GR+XV2, Unnamed Road, Chatmohar
              </a>
            </li>
          </ul>
        </div>
        <div class="col-auto col-xl-6">
          <ul class="social justify-content-end">
            <li>
              <a href="#" class="ps-0">
                Facebook
              </a>
            </li>
            <li>
              <a href="#">
                Twitter
              </a>
            </li>
            <li>
              <a href="#">
                Pintarest
              </a>
            </li>
            <li>
              <a href="#" class="pe-0">
                Instagram
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="sr-header-bottom">
    <nav class="navbar navbar-expand-xl p-0">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="{{imageRoot}}brand-logo.svg" alt="brand-logo" class="img-fluid">
        </a>
        <div class="collapse navbar-collapse border-gray-800 border-start border-end" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Event</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pages</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
        <ul class="action-content">
          <li class="d-none d-md-block">
            <a href="#" class="d-flex align-items-center justify-content-center w-56px h-56px rounded-circle border border-gray-800">
              <img src="{{imageRoot}}icons/search.svg" alt="icon">
            </a>
          </li>
          <li class="d-none d-md-block">
            <a href="#" class="d-flex align-items-center justify-content-center w-56px h-56px rounded-circle border border-gray-800">
              <img src="{{imageRoot}}icons/cart.svg" alt="icon">
            </a>
          </li>
          <li class="d-none d-sm-block">
            <a href="#" class="btn btn-primary">Get A Quote</a>
          </li>
          <li>
            <a href="#" class="d-flex align-items-center justify-content-center w-56px h-56px rounded-circle border border-gray-800">
              <img src="{{imageRoot}}icons/menu.svg" alt="icon">
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>