.#{$prefix}header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  position: fixed;

  &.is-sticky { 

    .#{$prefix}header { 
      &-top { 
        margin-top: -40px;
      }
    }
  }

  .container-fluid { 
    @include media-breakpoint-up(xl) {
      --sr-gutter-x: 10rem;
    }
  }

  &-top { 
    display: none;

    @include media-breakpoint-up(xl) { 
      display: block;
      margin-top: 0px;
      padding: 6px 0px;
      transition: all 0.1s linear;
      border-bottom: 1px solid #383D46;
    }

    ul { 
      display: flex;
      align-items: center;

      li { 

        &:not(:first-child) { 
          a { 
            position: relative;

            &::before { 
              content: "";
              top: 50%;
              left: 0px;
              width: 1px;
              height: 100%;
              position: absolute;
              background-color: white;
              transform: translateY(-50%);
            }
          }
        }

        a { 
          font-size: 14px;
          color: #AFB8C7;
          white-space: nowrap;
        }
      }
    }

    .info { 
      li { 
        a { 
          padding: 0px 30px;
        }
      }
    }
    .social { 
      li{
        a { 
          padding: 0px 16px;

          &:hover,
          &:focus { 
            color: var(--#{$prefix}primary);
          }
        }
      }
    }

  }


  &-bottom { 

    @include media-breakpoint-down(xl){ 
      padding: 12px 0px;
    }

    .navbar { 
      --sr-navbar-active-color: var(--#{$prefix}primary);
      --sr-navbar-hover-color: var(--#{$prefix}primary);


      @include media-breakpoint-up(xxl) { 
        --sr-navbar-nav-link-padding-x: 1.125rem;
      }


      &-collapse { 
        margin: 0px 12px;
        @media (min-width: 1401px) {
          margin: 0px 78px;
        }

      }


      &-nav { 
        --sr-nav-link-color: #fff;
        --sr-nav-link-padding-y: 2rem;
        --sr-navbar-nav-link-font-weight: 500;

        .nav-link { 
          text-transform: uppercase;
        }
      }

    }

    .action-content { 
      gap: 10px;
      display: flex;
      align-items: center;
    }
  }

}
